.app.dark {
  --bg-color: #17222C;
  --inverted-bg-color: #d3dae5;

  --primary-color: #0b720b;
  --secondary-color: #179b17;

  --inverted-primary-color: #0d296b;
  --inverted-secondary-color: #2657cb;
}
